<div class="col-md-2 col-sm-6 col-xs-12 clients wow fadeInUp" data-wow-delay="0.4s">
  <img src="{{ file_url(content.field_image['#items'].entity.uri.value) }}" alt="clients" class="img-responsive">
</div>

  