<div class="col-md-4 col-sm-6 col-xs-12 box wow fadeInUp" data-wow-delay="0.2s">
  <h3 class="title">{{ content.field_title.0 }}</h3>
  {{ content.field_description.0 }}
  <p><strong>PHONE:</strong> {{ content.field_telephone_no.0 }}</p>
</div>