<!-- FAQ Page -->
<section id="faq">
  <div class="container">
    <div class="row">
     
      <div class="header_section text-center">
        <h3 class="title wow fadeInUp" data-wow-delay="0.3s">{{ content.field_title.0 }}</h3>
      </div>
      <div class="faq_question">
        <div class="panel-group" id="accordion">
           {{ content.field_faq }}
        </div>
      </div>  

    </div>
  </div>
</section>
<!-- FAQ Page End -->