<!-- Team Page -->
<section id="team">
  <div class="container">
    <div class="row">
      <div class="header_section text-center">
        <h3 class="title wow fadeInUp" data-wow-delay="0.3s">{{ content.field_title.0 }}</h3>
        {{ content.field_description.0 }}
      </div>
      <div class="col-sm-12 col-md-12">
        {{ content.field_team }}                            
      </div>    
    </div>
  </div>
</section>
<!-- Team Page End -->