{#
/**
 * @file
 * Default theme implementation for an export icon.
 *
 * Available variables:
 * - url: An internal system path of the data export.
 * - attributes: Remaining HTML attributes for the export link.
 *   - format: The export format (csv, json, xml).
 *   - class: HTML classes to be applied to the export link.
 *
 * @ingroup themeable
 */
#}
<div class="lorvens-widget text-right my-3 d-inline-flex float-right">
  <div class="col-sm-12">
    <a href="{{ url }}"{{ attributes.addClass('csv-feed feed-icon btn btn-primary btn-lg h-50 rounded-5') }}>
    {# {{ 'Download @format'|t({'@format': format}) }} #}
    CSV Export {{ current_package }}
    </a>
  </div>
</div>
