<!DOCTYPE html>
<html lang="es">
<head>
  <style type="text/css">
    {{ css }}
   </style>
   <title>{{ title }}</title>
</head>
<body class="pdf">
  <h1 class="text-center text-capitalize text-color">{{ title }} Report</h1>
  <table class="table">    
    {{ content }}
  </table>
</body>
</html>
